.logo + ul{
 display:flex;
}
ul{
    display:flex;
    list-style-type:none;
}
li a{
    display:flex;
    list-style-type:none;
    padding:0px 10px;
    text-decoration: none;
    color:#000;
}
.btn{
    text-decoration:none;
    color:#fff;
    background-color:#000;
    padding:15px;
}