*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

:root{
    --w33: 33%;
    --w25: 20%;

    --color_black:#1b1b1b;
    --color_faded_black:#181818;
    --color_faded_gold:#b5a278;
    --color_white:#fff;
}
a{
    text-decoration: none;
    color: var(--color_black);
}
ul{
    list-style-type:none;
}
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
header .nav ul{
    display: flex;
    justify-content: space-between;
}
.nav li {
    padding: 0 10px;
}
.nav li a{
    text-decoration: none;
    display: block;
    padding: 10px;
}
.nav li.btn{
margin-left: 20px;
}
.btn{
    background-color: var(--color_black);
}
.btn a{
    color: var(--color_white);
}
header{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 20px;
}
header .nav ul{
   display: flex;
   justify-content: space-between;
}
.nav li {
   padding: 0 10px;
}
.nav li a{
   text-decoration: none;
   display: block;
   padding: 10px;
}
.nav li.btn{
margin-left: 20px;
}
.btn{
   background-color: black;
}
.btn a{
   color: white;
}
 

.logo + ul{
    display:flex;
}
ul{
    display:flex;
    list-style-type:none;
    align-items:center ;
}
li a{
    display:flex;
    list-style-type:none;
    padding:0px 10px;
    text-decoration: none;
    color:var(--color_white);
}
.nav-menu{
    display:flex;

}
.nav-menu .btn{
    margin-left: 20px;

}
.btn{
    text-decoration:none;
    color:var(--color_white);
    background-color:var(--color_black);
    padding:15px;
    display:block;
}
.w33{
    display:flex;
    width:33%;
}
/***************** première section *****/

.pic_center img{
    width: 33%;
}